<html>
<head>
	<meta charset="utf-8">
	<title>{$website} - Confirmation d'inscription</title>
	<style>
	body {
		font-size: 17px;
	}
    span{
        font-weight: bold;
    }
	</style>
</head>
<body>
	<p>Bonjour <span>{$username}</span>,</p>

	<p>Vous vous êtes inscrit sur <a href="{$websitelink}">{$website}</a> nous vous en remercions.
      Vous avez faites une demande de réinitialisation de mot de passe  .
    </p>
    <p>Pour réinitialiser votre mot de passe, <a href="{$token}">veuillez cliquez ici.
    </a></p>
    <p>
        A très bientôt !
    </p>
    <p>
        Cordialement,
    </p>
    <p>
        L'équpe de  {$website}
    </p>
</body>
</html>