.set-password{
    margin-top: 8px;
    padding-top: 20px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.password-form{
    width: 90%;
    padding-bottom: 50px;
}
.password-form h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;

}
.password-form p{
    margin-bottom: 50px;
}
.password-form input{
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.password-form input[type=submit]{
    width: 200px;
    text-transform: uppercase;
    padding-left: 0;
    
}
.password-img{
    display: none;
}


@media only screen and (min-width:900px) {


    .set-password{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;


    }
    .password-form{
        width: 48%;
      
    }
    .password-img{
       display: block;
      
    }
}